* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {      /*  put header in center */
    font-size: 40px;
    font-weight: 900;
    text-align: center;
}
.section1Title {      /* make Title1 and put border and padding around it */
    display: table;
    border: 2px solid black;
    background-color: coral;
    padding: 4px;
}
.section2Title {        /* make Title2 and put border and padding around it */
    display: table;
    border: 2px solid black;
    background-color: cyan;
    padding: 4px;
    padding-left: 14px;
    padding-right: 14px;
}
.section3Title {           /* make Title3 and put border and padding around it */
    display: table;
    border: 2px solid black;
    background-color: khaki;
    padding: 4px;
    padding-left: 14px;
    padding-right: 14px;
}

/*  For large devices, desktop */

@media (min-width : 992px) {
	.section1Title {
		position: absolute;
		top: -1px;
		left: 24vw;
	}
	.section2Title {
		position: absolute;
		top: -1px;
		left: 24vw;
	}
	.section3Title {
		position: absolute;
		top: -1px;
		left: 23.5vw;
	}
	.col-lg-4 {
        display: table;
        border: 1px solid black;
        background-color: darkgray;
        width: 30%;                 /* three columns in a row and rest margin */
        height: auto; 
        padding-right: 4px;
        padding-bottom: 4px;
        padding-left: 4px;
        padding-top: 27px;
        text-align: left;
	    position: relative;
	    float: left;
        margin: 10px;
		margin-top: 50px;
	}
}
/*  For medium devices, ipad */

@media (min-width : 768px) and (max-width : 991px) {
    .section1Title {              /* put section1 title in top right corner */
        position: absolute;
        top: -1px;
        left: 33vw;
    }
    .section2Title {             /* put section2 title in top right corner */
        position: absolute;
        top: -1px;
        left: 33vw;
    }
    .section3Title {             /* put section3 title in top right corner */
        position: absolute;
        top: -1px;
        left: 72.5vw;
    }
	.col-md-6 {                 /* size section1 and section2 to occupy row1*/
        display: table;
        border: 1px solid black;
        background-color: darkgray;
        width: 40%;                /* two columns in a row and rest margin */
        height: auto; 
        padding-right: 4px;
        padding-bottom: 4px;
        padding-left: 4px;
        padding-top: 27px;
        text-align: left;
	    position: relative;
	    float: left;
        margin: 20px;
        margin-bottom: 20px;
	}
    .col-md-12 {                   /* size section3 to occupy row2 */
        display: table;
        border: 1px solid black;
        background-color: darkgray;
        width: 80%;          
        height: auto; 
        padding-right: 4px;
        padding-bottom: 4px;
        padding-left: 4px;
        padding-top: 27px;
        text-align: left;
	    position: relative;
	    float: left;
        margin: 20px;
        margin-bottom: 20px;
    }
}
/*  For small devices, mobile phones */

@media (max-width : 767px) {
    .section1Title {              /* put section1 title in top right corner */
        position: absolute;
        top: -1px;
        left: 63vw;
    }
    .section2Title {             /* put section2 title in top right corner */
        position: absolute;
        top: -1px;
        left: 63.5vw;
    }
    .section3Title {            /* put section3 title in top right corner */
        position: absolute;
        top: -1px;
        left: 62.5vw;
    }
    .col-sm-12 {                      /* size section1, section2 and section3 */
            display: table;
            border: 1px solid black;
            background-color: darkgray;
            width: 80%;                 /* to occupy entire row, ie 3 rows of 80% and rest margin */
            height: auto; 
            padding-right: 4px;
            padding-bottom: 4px;
            padding-left: 4px;
            padding-top: 27px;
            text-align: left;
	        position: relative;
	        float: none;
            margin: 20px;
            margin-bottom: 20px;
    }
}    